<!DOCTYPE html>
<html>
    <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background-color: #f5f5f5;
    }
    </style>
    </head>
  <body>
    <main role="main" class="container mb-5">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Git repo automation with pipelines</h1>
        <p class="col-md-8 fs-4">Use this to enhance &amp; automate your Git repo(s) with <b>automated releases</b>, <b>issue templates</b>, and <b>pipelines</b> using open source tooling.</p>
        {% if session.get('access_token', None) is sameas None %}
        <a href="{{ github_authorize_url }}" class="btn btn-primary btn-lg" type="button">Connect GitHub</a>
        {% endif %}

        <p>Improve project quality, and ship faster with good minimal standards for every repo- automated.</p>
      </div>
    </div>

    <h1>1) Authorize</h2>

    {% if session.get('access_token', None) is sameas None %}
    <a href="{{ github_authorize_url }}" class="btn btn-success">Connect GitHub</a>
    {% endif %}

    <hr />
    {% if session.get('access_token', None) is sameas None %}
    <h2 class="alert alert-warning">You need to connect Github first</h2>
    {% else %}
      <h2 class="alert alert-success">Congrats, Github is connected!</h2>
      <hr />

    <h1>2) Auto configure repo</h2>

    <!-- #container 
    <div id="container" style="display: flex">
      <div>
        <h2>Create new repo (or choose existing repo below)</h2>
        <form id="make_new_repo">
        <label for="new_repo_name">New repo name:</label>
        <input type="new_repo_name" id="new_repo_name" required />
        <input type="submit" value="Make new repo" />
        </form>
      </div>
    </div>
    <!-- end #container -->

    <h2>Choose existing repo</h2>
    <form id="form" action="/configure-repo" method="post">

      <label for="repo-choice">Select your repo:</label><br />
      <input list="user-repos" id="repo_choice" name="repo-choice" placeholder="Start typing...">

      <datalist id="user-repos">
        {% for repo in repos %}
          <option value="{{ repo }}">
        {% endfor %}
      </datalist>
      <br />
      <hr />
      Or, manually enter repo url: <input name="repo_url" id="repo_url" /> <br />
      Organisation name or username: <input name="org_name" id="org_name" /> <br />
      repo_name <input name="repo_name" id="repo_name" />
      <br /><br />
      <p>
      When you press 'automate my repo' the following will be added to your selected repo:
      </p>
      <ul>
        <li>Issue templates</li>
        <li>Automated release tagging (using <a href="https://intuit.github.io/auto/">Intuit Auto</a>)</li>
        <li>Automated deployment (using <a href="https://dokku.com/">Dokku</a>)*</li>
      </ul>
      <p>*Note: For the automated deployment you need a <a href="https://dokku.com/docs/getting-started/installation/">dokku server configured.</a></p>
      <input type="submit" class="btn btn-success" value="Automate my repo" />

    </form>

      <script>
      repo_choice.addEventListener('focusout', function(e) {
                console.log("okk");
        parts = repo_choice.value.split("/")
        let repo_name = parts[parts.length - 1]
        let org_name = parts[parts.length - 2]
        document.getElementById('repo_name').value = repo_name
        document.getElementById('org_name').value = org_name
              });
      // Get repo_name & org_name automatically from repo url
      repo_url.addEventListener('focusout', function(e) {
        parts = repo_url.value.split("/")
        let repo_name = parts[parts.length - 1]
        let org_name = parts[parts.length - 2]
        document.getElementById('repo_name').value = repo_name
        document.getElementById('org_name').value = org_name
      });
      form.addEventListener("submit", function(e) {
              console.log("form submitted");
              let org_name = document.getElementById("org_name").value;
              let repo_name = document.getElementById("repo_name").value;
              data = {"org_name": org_name, "repo_name": repo_name}
        fetch("/configure-repo", {
                method:"POST",
                redirect: 'follow',
                headers: {
                        "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
              })
        .then(() => document.location = "/")
        e.preventDefault()
      });

      /* make_new_repo
      make_new_repo.addEventListener("click", function(e) {
        let new_repo_name = document.getElementById("new_repo_name").value
        alert(new_repo_name)
      });
      // end make_new_repo */
      </script>
    {% endif %}


    {% if session.get('repo_name_configure_completed', None) is sameas None %}
    {% else %}
        <h1>Done!</h1>
        Your repo: "{{ session['repo_name_configure_completed'] }}" has been configured. <br />
        <a href="https://github.com/{{session['org_name']}}/{{session['repo_name']}}">
          https://github.com/{{session['org_name']}}/{{session['repo_name']}}
        </a>
    {% endif %}


  </main>

  </body>
</html>
